body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
}

img#logoImg {
  width: 30px;
  height: 30px;
}

header nav.myNav {
  border-radius: 0px 0px 10px 10px;
}

div#audioSwitch {
  position: fixed;
  bottom: 10px;
  right: 10px;
  
}
#audioAuthorization {
  cursor: pointer;
}

div.myTimerModal {
  padding-top: 10%;
  background-color: rgba(0, 0, 0, 0.7);
}

section#todo {
  padding-top: 10%;
}

section#todo div.myModalBg {
  padding-top: 10%;
  background-color: rgba(0, 0, 0, 0.7);
}

div#tasks input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}

section#notes {
  padding-top: 10%;
}

#editTaskBtn {
  cursor: pointer;
}

#removeTaskBtn {
  cursor: pointer;
}

div#noteBtnContainer {
  display: flex;
  justify-content: center;
}

section#notes div#notesAddedContainer {
  gap: 5px;
  overflow: auto;
}

section#notes .myNote {
  min-width: 227px;
  min-height: 370px;
}

section#about {
  padding-top: 5%;
}

span#title {
  max-width: 70%;
}

div#noteModal {
  padding-top: 10%;
  background-color: rgba(0, 0, 0, 0.7);
}

div#editNoteModal {
  padding-top: 10%;
  background-color: rgba(0, 0, 0, 0.7);
}

i#editNoteBtn {
  cursor: pointer;
}

i#removeNoteBtn {
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
footer address {
  font-size: 14px;
  margin-bottom: 0;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  gap: 2px;
  list-style-type: none;
  padding: 0px;
  margin-bottom: 0;
}
footer li a {
  font-size: 20px;
}
